<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required for CameraX live preview -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Optional: keep only when you implement gallery picker -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- Declare camera capability (not strictly required) -->
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <application
        android:name=".RecycLensApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecycLens"
        android:usesCleartextTraffic="false">

        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="false"></service>

        <activity
            android:name=".GameSelectActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ChooseLevelActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".TrashSortingActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".StreetCleanupActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity 
            android:name=".ScannerActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>